In [1]:
import pandas as pd
import requests
from io import StringIO
from dtaidistance import dtw
import numpy as np

# 1. Obtenemos la data original

In [2]:


url='https://drive.google.com/file/d/1xwJmomvqSsDARENHRdfI4EmIt6aXFX2x/view?usp=sharing'
file_id = url.split('/')[-2]
dwn_url='https://drive.usercontent.google.com/download?id=' + file_id + '&export=download&authuser=0&confirm=t&uuid=95f36248-0659-4956-adaa-bd1e0564383f&at=APZUnTX9peDngh8O7LsXKmRoDw12:1701132306870'
url2 = requests.get(dwn_url).text
csv_raw = StringIO(url2)
df = pd.read_csv(csv_raw)

In [3]:
df

,periodo,customer_id,product_id,cust_request_qty,cust_request_tn,tn,product_category,cat2,cat3,brand,sku_size,plan_precios_cuidados
0,201701,10001,20480,6.0,0.85598,0.85598,PC,CABELLO,ACONDICIONADOR,SHAMPOO1,750.0,0
1,201701,10001,20482,1.0,0.75874,0.75874,PC,CABELLO,SHAMPOO,CAPILATIS,400.0,0
2,201701,10001,20483,0.0,0.00000,0.00000,PC,CABELLO,SHAMPOO,SHAMPOO3,10.0,0
3,201701,10001,20484,6.0,0.89664,0.89664,PC,DEOS,Aero,DEOS3,100.0,0
4,201701,10001,20485,2.0,0.73612,0.73612,HC,VAJILLA,Gel,MUSCULO,300.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
19109368,201912,10582,20474,0.0,0.00000,0.00000,PC,CABELLO,ACONDICIONADOR,SHAMPOO1,400.0,0
19109369,201912,10582,20476,0.0,0.00000,0.00000,PC,PIEL2,Jabon Barra,SHAMPOO2,125.0,0
19109370,201912,10582,20477,0.0,0.00000,0.00000,HC,VAJILLA,Gel,MUSCULO,300.0,0
19109371,201912,10582,20478,0.0,0.00000,0.00000,HC,HOGAR,PISOS,MUSCULO,750.0,0
19109372,201912,10582,20479,0.0,0.00000,0.00000,HC,PROFESIONAL,Gel,MUSCULO,2000.0,0

# 2. Obtenemos las series de tiempo de cada <product_id, customer_id>

In [2]:
# make a dataframe where each row is a combination of product_id, customer_id and the columns are periodo. The value of the cells correspond to the column "tn"

df2 = df.pivot_table(index=['product_id', 'customer_id'], columns='periodo', values='tn', aggfunc='sum')
df2

NameError: name 'df' is not defined

In [6]:
df2.to_csv('time_series_dataset.csv')

# 2.B HeurÃ­sticas

In [12]:
time_series_df = pd.read_csv('time_series_dataset.csv', index_col=[0,1])
time_series_df

                           201701     201702     201703     201704     201705  \
product_id customer_id
20001      10001         99.43861  198.84365   92.46537   13.29728  101.00563
           10002         35.72806    6.79415   29.94128   22.81133   31.22847
           10003        143.49426   20.48319  137.87537   68.89292  135.12190
           10004        184.72927  104.03894  295.43924  247.65632  188.37819
           10005         19.08407    5.17117    5.17117    0.86186   37.95546
...                           ...        ...        ...        ...        ...
21299      10633              NaN        NaN        NaN        NaN        NaN
           10634              NaN        NaN        NaN        NaN        NaN
           10635              NaN        NaN        NaN        NaN        NaN
           10636              NaN        NaN        NaN        NaN        NaN
           10637              NaN        NaN        NaN        NaN        NaN

                           201706     201707     201708     201709     201710  \
product_id customer_id
20001      10001        128.04792  101.20711   43.33930  289.35024  222.11389
           10002         47.57025   21.84874   17.08052   59.17739    3.31313
           10003        171.01785   64.66196   83.63410   70.61664   62.23308
           10004        195.02683  379.44270  237.16848  141.72577  437.37767
           10005         19.08407   43.35049   67.53856    6.22331    6.15615
...                           ...        ...        ...        ...        ...
21299      10633              NaN        NaN    0.00000    0.00000    0.00000
           10634              NaN        NaN    0.00000    0.00000    0.00000
           10635              NaN        NaN    0.00000    0.00000    0.00000
           10636              NaN        NaN    0.00000    0.00000    0.00000
           10637              NaN        NaN    0.00000    0.00000    0.00000

                        ...     201903     201904     201905     201906  \
product_id customer_id  ...
20001      10001        ...  130.54927  364.37071  439.90647   65.92436
           10002        ...   31.97079   55.41679   30.87299  144.07021
           10003        ...  170.89924  230.00152    1.84835    0.00000
           10004        ...  102.64484   91.67799  389.02653   66.71971
           10005        ...    6.90049   22.18016   15.89578    0.00000
...                     ...        ...        ...        ...        ...
21299      10633        ...        NaN        NaN        NaN        NaN
           10634        ...        NaN        NaN        NaN        NaN
           10635        ...        NaN        NaN        NaN        NaN
           10636        ...        NaN        NaN        NaN        NaN
           10637        ...        NaN        NaN        NaN        NaN

                           201907     201908     201909     201910     201911  \
product_id customer_id
20001      10001        144.78714   33.63991  109.05244  176.02980  236.65556
           10002         37.14616    0.00000   72.08551   17.40806   45.61495
           10003        138.23391  162.07198  233.20532   76.00625   86.14415
           10004        228.62366   96.11402  288.34205  324.96172  195.67828
           10005          8.25595    0.00000   12.80400   17.13921   12.22149
...                           ...        ...        ...        ...        ...
21299      10633              NaN        NaN        NaN        NaN        NaN
           10634              NaN        NaN        NaN        NaN        NaN
           10635              NaN        NaN        NaN        NaN        NaN
           10636              NaN        NaN        NaN        NaN        NaN
           10637              NaN        NaN        NaN        NaN        NaN

                           201912
product_id customer_id
20001      10001        180.21938
           10002        113.33165
           10003        102.27517
           10004         34.64810
           10005         19.60368
...                           ...
21299      10633              NaN
           10634              NaN
           10635              NaN
           10636              NaN
           10637              NaN

[736101 rows x 36 columns]

In [37]:
print(len(time_series_df))

# add a column with the count of columns == 0 of each row
time_series_df['count_zeros'] = time_series_df.apply(lambda x: sum(x==0), axis=1)

time_series_df[time_series_df['count_zeros'] == 36]

736101

                        201701  201702  201703  201704  201705  201706  \
product_id customer_id
20001      10085           0.0     0.0     0.0     0.0     0.0     0.0
           10142           0.0     0.0     0.0     0.0     0.0     0.0
           10166           0.0     0.0     0.0     0.0     0.0     0.0
           10168           0.0     0.0     0.0     0.0     0.0     0.0
           10174           0.0     0.0     0.0     0.0     0.0     0.0
...                        ...     ...     ...     ...     ...     ...
21257      10633           0.0     0.0     0.0     0.0     0.0     0.0
           10634           0.0     0.0     0.0     0.0     0.0     0.0
           10635           0.0     0.0     0.0     0.0     0.0     0.0
           10636           0.0     0.0     0.0     0.0     0.0     0.0
           10637           0.0     0.0     0.0     0.0     0.0     0.0

                        201707  201708  201709  201710  ...  201904  201905  \
product_id customer_id                                  ...
20001      10085           0.0     0.0     0.0     0.0  ...     0.0     0.0
           10142           0.0     0.0     0.0     0.0  ...     0.0     0.0
           10166           0.0     0.0     0.0     0.0  ...     0.0     0.0
           10168           0.0     0.0     0.0     0.0  ...     0.0     0.0
           10174           0.0     0.0     0.0     0.0  ...     0.0     0.0
...                        ...     ...     ...     ...  ...     ...     ...
21257      10633           0.0     0.0     0.0     0.0  ...     0.0     0.0
           10634           0.0     0.0     0.0     0.0  ...     0.0     0.0
           10635           0.0     0.0     0.0     0.0  ...     0.0     0.0
           10636           0.0     0.0     0.0     0.0  ...     0.0     0.0
           10637           0.0     0.0     0.0     0.0  ...     0.0     0.0

                        201906  201907  201908  201909  201910  201911  \
product_id customer_id
20001      10085           0.0     0.0     0.0     0.0     0.0     0.0
           10142           0.0     0.0     0.0     0.0     0.0     0.0
           10166           0.0     0.0     0.0     0.0     0.0     0.0
           10168           0.0     0.0     0.0     0.0     0.0     0.0
           10174           0.0     0.0     0.0     0.0     0.0     0.0
...                        ...     ...     ...     ...     ...     ...
21257      10633           0.0     0.0     0.0     0.0     0.0     0.0
           10634           0.0     0.0     0.0     0.0     0.0     0.0
           10635           0.0     0.0     0.0     0.0     0.0     0.0
           10636           0.0     0.0     0.0     0.0     0.0     0.0
           10637           0.0     0.0     0.0     0.0     0.0     0.0

                        201912  count_zeros
product_id customer_id
20001      10085           0.0           36
           10142           0.0           36
           10166           0.0           36
           10168           0.0           36
           10174           0.0           36
...                        ...          ...
21257      10633           0.0           36
           10634           0.0           36
           10635           0.0           36
           10636           0.0           36
           10637           0.0           36

[133809 rows x 37 columns]

In [43]:
# make a new dataframe with time_series_df['count_zeros'].values_count()
df3 = pd.DataFrame(time_series_df['count_zeros'].value_counts())
df3.reset_index(inplace=True)
df3.sort_values(by='count_zeros', inplace=True)
df3

    count_zeros   count
34            1    8495
35            2    7356
1             3   34957
25            4   13784
17            5   16903
14            6   18355
13            7   19260
8             8   20250
7             9   20859
18           10   16607
27           11   13348
32           12   11175
33           13   11011
23           14   15138
3            15   24069
19           16   16565
28           17   13340
31           18   12119
30           19   12534
24           20   14764
26           21   13756
21           22   15520
29           23   12818
20           24   15692
22           25   15303
12           26   19613
4            27   21567
10           28   19905
15           29   18056
5            30   21086
11           31   19693
16           32   17596
9            33   20110
6            34   21084
2            35   29604
0            36  133809

# 3. Corremos el Dynamic Time Warping para encontrar distancias

In [13]:
time_series = time_series_df.values
time_series

array([[ 99.43861, 198.84365,  92.46537, ..., 176.0298 , 236.65556,
        180.21938],
       [ 35.72806,   6.79415,  29.94128, ...,  17.40806,  45.61495,
        113.33165],
       [143.49426,  20.48319, 137.87537, ...,  76.00625,  86.14415,
        102.27517],
       ...,
       [      nan,       nan,       nan, ...,       nan,       nan,
              nan],
       [      nan,       nan,       nan, ...,       nan,       nan,
              nan],
       [      nan,       nan,       nan, ...,       nan,       nan,
              nan]])

In [27]:
import numpy as np
from dtaidistance import dtw

def calculate_dtw_batch(time_series_batch, all_time_series):
    # Initialize an empty matrix to store DTW distances for the batch
    dtw_distances_batch = np.zeros((len(time_series_batch), len(all_time_series)))

    for i, series_i in enumerate(time_series_batch):
        for j, series_j in enumerate(all_time_series[i+1:], start=i+1):
            # Ensure series_i and series_j are 1-D arrays
            series_i_1d = np.asarray(series_i).reshape(-1)
            series_j_1d = np.asarray(series_j).reshape(-1)

            # if there are NaN at the beginning or at the end of the series, remove them
            series_i_1d = series_i_1d[~np.isnan(series_i_1d)]
            series_j_1d = series_j_1d[~np.isnan(series_j_1d)]           

            # Calculate DTW distance
            distance = dtw.distance_fast(series_i_1d, series_j_1d)
            dtw_distances_batch[i][j] = distance
            dtw_distances_batch[j][i] = distance  # Reflect the distance in the symmetric position

    return dtw_distances_batch

In [35]:
import time

# Sample a subset of your data
sample_size = 5000
len_dataset = len(time_series)
sample_time_series = time_series[:sample_size]  # Assuming 'time_series' is your full dataset

# Time the computation for the sample
start_time = time.time()
sample_distances = calculate_dtw_batch(sample_time_series, sample_time_series)
end_time = time.time()
time_for_sample = end_time - start_time

# Number of comparisons for the sample and the full dataset
num_comparisons_sample = sample_size * (sample_size - 1) / 2
num_comparisons_full = len_dataset * (len_dataset - 1) / 2

# Extrapolate to estimate total time
estimated_total_time = time_for_sample / num_comparisons_sample * num_comparisons_full

print(f"Time taken for sample: {time_for_sample} seconds")
print(f"Estimated total time: {estimated_total_time / 60 } minutes")
print(f"Estimated total time: {estimated_total_time / 60 / 60 } hours")
print(f"Estimated total time: {estimated_total_time / 60 / 60 / 24 } days")

Time taken for sample: 74.37536907196045 seconds
Estimated total time: 26871.93670107018 minutes
Estimated total time: 447.865611684503 hours
Estimated total time: 18.661067153520957 days

In [32]:
num_comparisons_full

30102359661.0

In [31]:
time_for_sample = 0.7444002628326416
len_dataset = len(time_series_df) / 3

# Number of comparisons for the sample and the full dataset
num_comparisons_sample = sample_size * (sample_size - 1) / 2
num_comparisons_full = len_dataset * (len_dataset - 1) / 2

# Extrapolate to estimate total time
estimated_total_time = time_for_sample / num_comparisons_sample * num_comparisons_full

print(f"Time taken for sample: {time_for_sample} seconds")
print(f"Estimated total time: {estimated_total_time / 60 } minutes")
print(f"Estimated total time: {estimated_total_time / 60 / 60 } hours")
print(f"Estimated total time: {estimated_total_time / 60 / 60 / 24 } days")

Time taken for sample: 0.7444002628326416 seconds
Estimated total time: 2993.7480886481108 minutes
Estimated total time: 49.89580147746851 hours
Estimated total time: 2.0789917282278547 days

In [ ]:
# Assume `time_series` is your data
batch_size = 10000  # Adjust the batch size based on your memory capacity
dtw_distances = []

for i in range(0, len(time_series), batch_size):
    batch = time_series[i:i + batch_size]
    dtw_distances.append(calculate_dtw_batch(batch, time_series))

# Combine the results
dtw_distances = np.vstack(dtw_distances)

In [ ]:
# save the dtw_distances matrix to disk
np.save('dtw_distances.npy', dtw_distances)